* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 99%;
}

.page-container {
  min-height: 100%;
  margin-bottom: 50px;
}

.header-container {
  position: relative;
  padding: 3px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  background: #f2edb8;
}

.project-title {
  display: flex;
  margin: 1px;
  padding: 30px 10px 5px 10px;
  font-size: 3.3em;
  font-family:"jaf-lapture-subhead";
}

.menu-container {
  position: relative;
  padding: 1px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-option {
  display: flex;
  margin: 1px;
  padding: 6px 20px;
  font-size: 1.1em;
  background: #f2edb8;
}

.menu > li {
  display: inline-block;
  margin: 10px;
}

.general-block {
  position: relative;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-big {
  display: flex;
  margin: 1px;
  padding: 8px;
  font-size: 1.7em;
  font-family:"jaf-lapture-display";
}

.extra-space {
  padding: 22px 8px 10px 8px;
}

.heading-small {
  display: flex;
  margin: 1px;
  padding: 30px 8px 0px 8px;
  font-size: 1.3em;
  font-family:"jaf-lapture-display";
}

.right-parent {
  display: flex;
  justify-content: right;
}

.right-baby {
  display: flex;
  justify-content: right;
  margin-left: 22%;
}

.paragraph-info {
  width: 60%;
  font-size: 1.04em;
}

.map-static {
  display: flex;
  justify-content: center;
  padding: 1px;
}

.footer-container {
  position: absolute;
  padding: 20px;
  margin: 0;
  background: #f2edb8;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.authors {
  font-size: .7em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
}

th {
  text-align: left;
}

table {
  table-layout: fixed;
  width: 800px;
}

th.updates-name {
  width: 30%
}

th.updates-milestone {
  width: 40%
}

th.updates-rating, th.updates-date {
  width: 15%
}

.map-display {
  display: flex;
  justify-content: center;
  padding: 1px;
}

.search-bar {
  padding: 20px 8px 8px 8px;
}

.temp-space {
  padding: 250px;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 8px 15px 8px;
}

.dot {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  display: inline-block;
  margin: 50px 20px 10px;
  border: 1px solid black;
}

.line {
  position: absolute;
  border-bottom: 2px solid black;
  width: 950px;
  justify-content: center;
  top: 190px;
  z-index: -1;
}

.milestone {
  font-size: .9em;
  position: relative;
  top: -55px;
  text-align: center;
  vertical-align: baseline;
}

.date {
  font-size: .8em;
  font-weight: bold;
  color: white;
  position: relative;
  top: -14.75px;
  text-align: center;
  vertical-align: baseline;
}

.paragraph-big {
  width: 55%;
}

.chart-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.chart {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  text-decoration: none;
  color: #6b6b6b;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a.special-link:hover {
  color: #ffffff;
  background-color: #c0c0c0;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #6b6b6b;
}

a:active {
  text-decoration: none;
}

.current {
  font-weight: bold;
}

.team {
  position: relative;
  padding: 20px;
  margin: 0;
}

.team-member {
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  vertical-align: top;
}

.team-pic {
  border-radius: 50%;
  margin: 5px 15px 30px 0px;
}

.team-info {
  display: flex;
}

.blue {
  background-color: #51bacf;
}

.white {
  background-color: #ffffff;
}

.wack1 {
  font-size: .9em;
  position: relative;
  top: -46px;
  text-align: center;
  vertical-align: baseline;
}

.wack2 {
  font-size: .8em;
  color: white;
  position: relative;
  top: 0px;
  text-align: center;
  vertical-align: baseline;
}

.filler {
  display: flex;
  height: 50px;
}

.wack3 {
  font-size: .87em;
}

.wack4 {
  top: -12px;
}

.flourish-map {
  width: 70%;
}

#plz-work:hover {
  font-weigt: bold;
}

.overview-stats {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 1.2em;
  padding: 5px;
  line-height: 1.3;
}

.stat {
  line-height: 1.6;
}

.background {
  background: #f2edb8;
  position: relative;
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
